#login-div.active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#login-div.active  #login-box {
  position: absolute;
  margin: auto;
  width: 50%;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

#login-box button {
  margin-top: 10px;
  margin-bottom: 20px;
}

#login-box .alert {
  margin-left: 10px;
  margin-right: 10px;
  visibility: hidden;
}

#login-box .alert.displayed {
  visibility: visible;
}
