#subscribe-box p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#subscribe-box input {
  margin-bottom: 5px;
}

#report-box p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#report-box textarea {
  resize: none;
  text-align: left;
  height: 100px;
}
