<div id="login-box">
  <h1>Welcome to StormSpot!</h1>
  <h2>Please login/register</h2>
  <input type="text" class="pretty-input" placeholder="username">
  <input type="text" class="pretty-input" placeholder="password">
  <input type="text" class="pretty-input" placeholder="re-enter password">
  <br>
  <button class="pretty-button green-btn">Register</button> 
  <br>
  <input type="text" class="pretty-input" placeholder="username">
  <input type="text" class="pretty-input" placeholder="password">
  <br>
  <button class="pretty-button green-btn">Login</button> 

  <div class="alert">
    <p>This is an error</p>
  </div>
</div>
