<div id="report-box">
  <h1>Make a report!</h1>
  <select id="sel_storm">Storm Type
    <option value="WIND">WIND</option>
    <option value="STRONG_THUNDERSTORM">STRONG THUNDERSTORM</option>
    <option value="HAIL">HAIL</option>
    <option value="TORNADO">TORNADO</option>
    <option value="OTHER">OTHER</option>
  </select>
  <select id="sel_severity">Severity
    <option value="NORMAL">NORMAL</option>
    <option value="SEVERE">SEVERE</option>
    <option value="DESTRUCTIVE">DESTRUCTIVE</option>
  </select>
  <textarea>Content</textarea>
  <button class="pretty-button green-btn" id="btn_report">Report</button>
</div>
