<div id="login-box">
  <h1>Make a subscription!</h1>
  <input type="text" class="pretty-input" placeholder="Phone Number" id="txt_sub_phonenumber">
  <br>
  <button class="pretty-button green-btn" id="btn_subscribe">Subscribe</button>
</div>