<div id="subscribe-box">
  <h1>Make a subscription!</h1>
  <input type="text" class="pretty-input" placeholder="Phone Number" id="txt_phone">
  <br>
  <p><strong>Carrier</strong></p>
  <select id="sel_carrier" class="pretty-select">
    <option value="message.alltel.com">ALLTEL</option>
    <option value="txt.att.net">AT&T</option>
    <option value="myboostmobile.come">BOOST</option>
    <option value="myblue.com">CENTENNIAL</option>
    <option value="einstenmms.com">EINSTEIN</option>
    <option value="messaging.nextel.com">NEXTEL</option>
    <option value="pm.sprint.com">SPRINT</option>
    <option value="tmomail.com">TMOBILE</option>
    <option value="mms.uscc.net">USCELLULAR</option>
    <option value="vtext.com">VERIZON</option>
    <option value="vmobl.com">VIRGIN</option>
  </select>
  <br>
  <p><strong>Severity Level</strong></p>
  <select id="sel_severity" class="pretty-select">
    <option value="NORMAL">NORMAL</option>
    <option value="SEVERE">SEVERE</option>
    <option value="DESTRUCTIVE">DESTRUCTIVE</option>
  </select>
  <br>
  <button class="pretty-button green-btn" id="btn_subscribe">Subscribe</button>
</div>
